.file-vizualize {
  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__close {
    display: flex;
    width: 100px;
    margin-left: 30px;

    font-size: small;
    cursor: pointer;

    & i {
      margin-left: 10px;
      color: var(--p-red-700);
    }
  }
  &__charts {
    & div {
      pointer-events: none;
    }
  }
  & svg {
    margin: 0 auto;
  }
}
