.loader {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

  max-width: 200px;
  border-radius: 5px;
  padding: 10px;

  background-color: beige;
}
.files-list {
  max-width: 200px;
  border-radius: 5px;
  padding: 10px;

  background-color: beige;

  font-size: 0.8rem;
  & i {
    margin-right: 5px;
  }
  & li {
    display: flex;
    align-items: center;
    list-style: none;
    margin: 10px 0;

    cursor: pointer;
  }
}
